body {
    margin: 0;
    padding: 0;
    background: #d1d2d6;
  }

  .main {
    margin-left: 300px;
    padding: 20px;
  }

  .main table {
    position:relative;
    top: 20px;
    left: 70px;
  }