*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(#f5f7f8, #4d636f);

}

.login{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 40px;
	border-radius: 5px;
	border-color: transparent;
	background-color: #ffffff;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);

}

.login h2{
	color: #666666;
	margin-bottom: 30px;
}

.login .login_box {
	position: relative;
	width: 100%;
}

.login .login_box input{
	outline: none;
	border: none;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 30px;
	color: #666666;
	font-size: 16px;
	border-bottom: 1px solid #666666;
	background-color: transparent;
}

.login .login_box label{
	position:absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	color: #666666;
	pointer-events: none;
	transition: all 0.3s;
}

.login .login_box input:focus + label,
.login  .login_box input:valid + label{
	top: -20px;
	color: #4d636f;
	font-size: 12px;
}

.login button{
	position: relative;
	padding: 5px 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #4d636f;
	text-decoration: none;
	transition: all 0.5s;
	border-radius: 5px;
	border-color: transparent;
	font-weight: 400;
}
.login button:hover {
	color: #f0f0f0;
	border-radius: 1px;
	background-color: #4d636f;
	border-radius: 5px;
	border-color: transparent;
	box-shadow: 0 0 5px #4d636f,0 0 10px #4d636f,0 0 15px #4d636f,0 0 25px #4d636f;
}